h5{
    font-family: helvetica;
    font-style: oblique;
}
p{
    font-size: medium;
    font-family: Helvetica;
    font-weight: lighter;
    color: white;
}
nav{
    background-color:#9c0720;
    width: auto;
    height: auto;
    border-radius: 5px;
    padding: 1rem;
    margin-top: 2px;
}
header{
    text-align: center;
    font-family: helvetica;
    background-color: #9c0720;
    color:white;
    font-weight: bold;
}
h3{
    font-family: helvetica;
    color: white;
    background-color: #9c0720;
    padding: 1rem;
    border-radius: 10px;
    margin: auto;
}
body{
    background-color: #20201f;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.nav{
    display: inline-block;
    top: 1rem;
    font-family: helvetica;
    background-color: #565651;
    border-radius: 5px;
    margin: 0.5rem;
    padding: 0.5rem;
    text-decoration: none;
    color: white;
}
footer{
    background-color: #9c0720;
    color: beige;
    margin-top: auto;
    border-radius: 10px;

}
.mapa{
    border-radius: 10px;
    border-color: beige;
    border-style: solid;
    margin:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.mapa2{
    margin: 10px;   
}
form{
    background-color:#20201f;
    margin: auto;
    font-family: helvetica;
    color: white;
}
.formulario{
    padding: 10px;
}
.enviar{
    background-color: #9c0720;
    font-family: helvetica;
    color:white;
    padding: 10px;
    display: inline-block;
    position: relative;
    font-weight: bold;
    border-radius: 10px;
    animation-delay: 1.6s;
}
header{
    border-radius: 5px;
}
.correo{
    display: inline-block;
    font-family: helvetica;
    background-color: #565651;
    border-radius: 5px;
    margin: auto;
    padding: 1rem;
    text-decoration: none;
    color: white;
}
.ingredientes{
    background-color: #565651;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
}
ul{
    padding-left: 2rem;
    border-color: #9c0720;
    border-width: 0.7rem;
    color: white;
    list-style: square;
    list-style-position: inside;
    border: 1rem;
    display: inline-block;
}
li{
    background-color: #565651;
    border: 1px solid white;
    border-block: 1px solid white;
    padding: 1rem;
}
img{
    border-radius: 10px;
    border-color: #9c0720;
    border: 5px solid #565651;
}
.example {
    padding: 1.5rem;
    color: white;
    }
    /* Extra small devices (600px and down) */
    @media only screen and (max-width: 600px) {
    .example {background: red;}
    }
    /* Small devices (600px and up) */
    @media only screen and (min-width: 600px) {
    .example {background: green;}
    }
    /* Medium devices (768px and up) */
    @media only screen and (min-width: 768px) {
    .example {background: blue;}
    } 